.marketing-container {
  width: 100%;
  background-color: lightgrey;
  padding: 4rem 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.marketing-grid {
  display: flex;
  max-width: 1200px;
  width: 100%;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.marketing-column {
  flex: 1;
  min-width: 250px;
  color: black;
}

.marketing-column p {
  font-size: 1.8rem;
  line-height: 1.6;
  margin: 0.5rem 0;
  color: black;
  justify-content: center;
}

.highlight-brand {
  font-weight: bold;
  color: #2890ad !important;
}

.marketing-header h1,
.marketing-header h2,
.marketing-header h3,
.marketing-header h4 {
  text-align: center;
  color: black;
}

.marketing-header .flex {
  color: var(--orange-dark);
}

.marketing-footer {
  text-align: center;
  margin: 20px auto;
}

.cta-button {
  padding: 1.5rem 2.8rem;
  background-color: #2890ad;
  color: #f5f5f5;
  font-size: 2rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cta-button:hover {
  background-color: #f5f5f5;
  color: #2890ad;
  text-decoration: none;
}

/* Mobile Images */
.brand-image-mobile {
  display: block;
  margin: 1rem auto; /* Combined margin top/bottom and centered */
  text-align: center;
}

.brand-image-mobile img {
  width: 90%; /* Responsive width */
  max-width: 350px; /* Max width for larger mobiles/tablets */
  height: 250px; /* Enforced fixed height */
  object-fit: cover; /* Ensures image fills the space, cropping as needed */
  border-radius: 8px;
}

/* Desktop Images */
.marketing-images-desktop {
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 2rem auto;
  max-width: 1200px;
  flex-wrap: wrap;
}

.marketing-images-desktop img {
  width: 300px; /* Enforced fixed width for consistency */
  height: 200px; /* Enforced fixed height for consistency */
  object-fit: cover; /* Ensures image fills the space, cropping as needed */
  border-radius: 8px;
}

@keyframes shimmer {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
  }
  50% {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  }
  100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
  }
}

/* Media Queries */
@media (min-width: 769px) {
  .brand-image-mobile {
    display: none; /* Hide mobile images on desktop */
  }

  .marketing-images-desktop {
    display: flex; /* Show desktop images in a row */
  }
}

@media (max-width: 768px) {
  .marketing-images-desktop {
    display: none; /* Hide desktop images on mobile */
  }
  /* .creator-image-mobile is display: block by default, so no need to explicitly set here */
}
