.faq {
  margin-top: 2rem;
}

.faq.container {
  /* Default padding for larger screens (if you want any) */
  padding-left: 15px; /* Adjust as needed */
  padding-right: 15px; /* Adjust as needed */
  max-width: 1200px; /* Example: set a max-width for the container on larger screens */
  margin-left: auto;
  margin-right: auto;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  /* Adjust this breakpoint as per your design needs */
  .faq.container {
    padding-left: 20px; /* More padding for mobile */
    padding-right: 20px; /* More padding for mobile */
  }

  /* You might also want to adjust the top margin on mobile */
  .faq {
    margin-top: 4rem; /* Reduce top margin for mobile, for example */
  }

  .accordion-title {
    font-size: 16px;
    padding: 12px 15px; /* Slightly less padding for accordion titles on mobile */
  }
  .accordion-content {
    padding-left: 15px; /* Adjust content padding inside accordion for mobile */
    padding-right: 15px; /* Adjust content padding inside accordion for mobile */
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li {
  margin-left: 25px;
}

/* Ensure lists inside accordions also respect mobile padding */
.accordion-content ul li,
.accordion-content ol li {
  margin-left: 15px; /* Reduce list item indentation on mobile */
}

.faq-accordions p {
  font-size: 18px;
}

.faq-accordions li {
  font-size: 16px;
}

.no-color {
  color: #155263;
}

/* Accordion Styles */
.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.accordion-title {
  background-color: #f7f7f7;
  color: #333;
  padding: 15px 20px;
  width: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.accordion-title:hover {
  background-color: #e9e9e9;
}

.accordion-icon {
  transition: transform 0.3s ease;
  font-size: 1.2em;
}

.accordion-icon.open {
  transform: rotate(180deg);
}

.accordion-content {
  background-color: #fff;
  border-top: 1px solid #eee;
  overflow: hidden;

  max-height: 0;
  padding: 0 20px;
  transition: max-height 0.4s ease-out, padding 0.4s ease-out;
}

.accordion-item .accordion-content.open {
  max-height: 1000px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Add some margin to the "Book a Call" button if it's too wide on mobile */
@media (max-width: 768px) {
  .btn.btn-custom.btn-brand {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px); /* Make button fill width with margin */
    box-sizing: border-box; /* Include padding/border in width calculation */
  }
}
